
asgiref
beautifulsoup4
crispy-bootstrap5
cycler
distlib
Django
django-bootstrap-v5
django-crispy-forms
django-widget-tweaks
entrypoints
filelock
fonttools
gevent
GitPython
greenlet
gunicorn
joblib
jsonschema
kiwisolver
matplotlib
numpy
pandas
patsy
scikit-learn
scipy
sqlparse
statsmodels
threadpoolctl
whitenoise
poetry
